<h1><%= @band.name %></h1>

<p><form action="/venue/<%= @venue.id %>/band/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input name="name" id="name" placeholder="Edit Band Name" type="text">

    <button type="update_band" class="btn-success">Update Band</button>
  </form></p>


<form action='/venue/<%= @venue.id %>/band/<%= @band.id %>' method='post'>
  <div class='form-group'>
    <input name="_method" type="hidden" value="delete">
    <button id='delete_band' class='btn btn-danger'>Delete Band</button>
  </div>
</form>
